ramdisk_path/
rocksdb_disk_path/
ramdisk_tmp/
ramdisk/
rocksdb_test_tmp/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

.project
.cproject
.settings/

*.result
*.log
*.data
*.output
*.txt

redis/sample
ycsbc

# Specific
.vscode/
rocksdb_test/
result.txt
